.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    border: 1px solid pink;
    padding: 10px;
    color: blueviolet;
    background-color: black;
    width:300px;
    color: green;
    background-color: white;
    width:200px;
    border-radius: 5px;
    margin-bottom: 20px;

}